/*ヘッダー*/
html {
  -webkit-text-size-adjust: 100%;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #333;
  font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.header {
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 1080px) {
  .header {
    background-color: #fff;
    z-index: 10;
  }
}

@media screen and (max-width: 1080px) {
  .header-common {
    position: fixed !important;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 36px;
  max-width: 100%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header-container {
    max-width: 100%;
    margin: 0 20px;
  }
}

.header-container>*:last-child {
  display: inline-flex;
}

a {
  color: #333;
  text-decoration: none;
}

.header-logo-image-pc {
  display: block;
  height: 20px;
  width: auto;
}

@media screen and (max-width: 767px) {
  .header-logo-image-pc {
    display: none;
  }
}

.header-logo-image-sp {
  display: none;
  height: 16px;
  width: auto;
}

@media screen and (max-width: 767px) {
  .header-logo-image-sp {
    display: block;
  }
}

img {
  border: 0;
  vertical-align: middle;
}

.header-nav-humburger {
  display: none;
}

@media screen and (max-width: 1080px) {
  .header-nav-humburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
  }
}

@media screen and (max-width: 1080px) {
  .header-nav-humburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    transform: translate(0,-50%);
    border-radius: 10px;
    transition: top .2s,transform .2s,opacity .3s;
  }
}

@media screen and (max-width: 1080px) {
  .header-nav-humburger-line:first-child {
    top: 0;
  }
}

@media screen and (max-width: 1080px) {
  .header-nav-humburger-line:last-child {
    top: 100%;
  }
}

.header-nav-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header-nav-list {
    top: 52px;
  }
}

@media screen and (max-width: 1080px) {
  .header-nav-list {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform .5s;
    z-index: 99;
    background-color: rgba(0,0,0,.8);
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
}

.header-nav-list-item {
  margin-right: 45px;
}

@media screen and (max-width: 1080px) {
  .header-nav-list-item {
    margin-right: 0;
  }
}

.header-nav-list-item-link {
  display: block;
}

@media screen and (max-width: 1080px) {
  .header-nav-list-item-link {
    padding: 20px 0;
  }
}

.header-nav-list-item-link>span {
  display: block;
  font-weight: 700;
  text-align: center;
}

.header-nav-list-item-link>span:first-child {
  font-family: 'Lato',sans-serif;
}

@media screen and (max-width: 1080px) {
  .header-nav-list-item-link>span:first-child {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
  }
}

.header-nav-list-item-button {
  width: 100%;
  font-size: 12px;
  height: 40px;
  padding: 0 20px;
  align-items: center;
  background-color: #f79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

ul, ol {
  list-style: none;
}

/*メイン*/

main {
  display: block;
}

.first-view {
  background-image: url(//camp.potepan.com/wp-content/themes/potepancamp/assets/styles/../images/home/first-view/top-hero.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 28px;
}

@media screen and (max-width: 767px) {
  .first-view {
    background-image: none;
    padding-top: 0;
    padding-bottom: 35px;
  }
}

.first-view-main-image-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .first-view-main-image-sp {
    display: block;
  }
}

.first-view-main-image {
  width: 100%;
}

.first-view-container {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .first-view-container {
    margin-top: -45vw; /*Viewport Width（vw）：viewportの幅に基づく。1vwはviewportの幅の1%に相当する*/
  }
}

@media screen and (max-width: 767px) {
  .first-view-container {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.first-view-content {
  margin-bottom: 70px;
  width: fit-content;
}

@media screen and (max-width: 767px) {
.first-view-content {
    margin-bottom: 20px;
    width: 100%;
  }
}

.first-view-content-title {
  color: #333;
  font-family: 'Lato',sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 15px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .first-view-content-title {
    font-size: 25px;
    line-height: 36px;
    margin-left: calc(((100vw - 100%)/2)*-1);
    margin-right: calc(((100vw - 100%)/2)*-1); /*calc() 関数は1つの式を引数として取り、式の結果が値として使用される。*/
  }
}

.first-view-content-images {
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .first-view-content-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}

.first-view-content-images img {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .first-view-content-images img {
    width: 27.5%;
  }
}

.first-view-content-images img:nth-of-type(2) {
  width: 40%;
}

.first-view-content-buttons {
  display: flex;
}

@media screen and (max-width: 767px) {
  .first-view-content-buttons {
    flex-direction: column;
  }
}

.first-view-content-buttons a:first-of-type {
  margin-right: 15px;
  width: 306px;
}

@media screen and (max-width: 767px) {
  .first-view-content-buttons a:first-of-type {
    margin-right: 0;
  }
}

.first-view-content-buttons a:visited {
  color: #fff;
}

.first-view-content-buttons a {
  align-items: center;
  background-color: #f79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .first-view-content-buttons a {
    width: 100% !important;
  }
}

.first-view-content-buttons a:last-of-type {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #333;
    width: 176px;
}

@media screen and (max-width: 767px) {
  .first-view-content-buttons a:last-of-type {
    display: none; 
  }
}

.first-view-caption {
  color: #a2a2a4;
  font-size: 12px;
}

.first-view-caption a {
  color: #a2a2a4;
}

.about-wrapper {
  padding: 44px 0;
  background-color: #f79214;
}

@media screen and (max-width: 767px) {
  .about-wrapper {
    padding: 30px 0;
  }
}

.about {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .about {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
 .about {
   flex-direction: column;
  }
}

.about-video {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .about-video {
    margin-bottom: 16px;
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .about-video {
    width: 100%;
  }
}

.about-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  width: 100%;
  align-items: flex-start; /*調べたけどよくわからん*/
  margin-left: 32px;
}

@media screen and (max-width: 1024px) {
  .about-title {
    margin-left: 0;
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .about-title {
    margin-bottom: 0;
    width: 100%;
  }
}

.about-title h2 {
  font-family: 'Lato',sans-serif;
  font-size: 51px;
  font-weight: 700;
  line-height: 74px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .about-title h2 {
    font-size: 33px;
    line-height: 1.2;
    text-align: center;
  }
}

.about-title h2,
.about-title p {
  color: #fff;
  text-align: left;
}

.about-title h2 {
  font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 54px;
  width: 100%;
}

.about-title h2 span {
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .about-title h2>span {
    letter-spacing: 1px;
  }
}

.about-title h2>span {
  font-family: 'Lato',sans-serif;
  font-size: 38px;
}

.about-title p {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px;
}

.about-button {
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}